Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -android-cloexec-fopen,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -cert-dcl50-cpp,
  -cppcoreguidelines-*,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-int,
  -hicpp-*,
  -llvm-header-guard,
  -llvm-qualified-auto,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-avoid-c-style-cast,
  -modernize-avoid-variadic-functions,
  -modernize-deprecated-headers,
  -modernize-loop-convert,
  -modernize-use-*,
  -portability-avoid-pragma-once,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-static-accessed-through-instance,
  -readability-magic-numbers

ExcludeHeaderFilterRegex: '/usr/include/gentoo'